/* Responsivo Smartphone */

@media only screen and (max-width:760px){
  .container{
    width:300px;
    display: block;
    margin: 0 auto;
  }

  .titulo{
    margin: 0;
  }
section.tela-relogio{
  margin: auto;
  max-width: 300px;
}
  .tela-relogio{
    width: 295px;
    margin-left: 0px;
    margin-right: 0;
  }

  .tela-relogio h1{
    margin-bottom: 10px;
  }
  section.conteudo-informacoes{
    margin: auto;
  }
  .informacoes{
    display: block;
    margin: 0;
    max-width: 300px;
  }

  .infos{
    max-width: 300px;
    margin: 0;
  }

  .informacoes div.foto{
    margin: 0;
  }
  .foto img{
    max-width:150px;
    max-height: 150px;
    border-radius: 55%;
    margin: 5px 60px;
  }
  .projetos{
    
    max-width: 300px;
    margin: 0;
    
 }

 .projetos::before{
   height: 2px;
   padding-top: 1px;
   
 }

 .projetos section{
  margin: 5px 15px;
   width: 250px;
   height: 150px;
 }
.projetos div.descricao{
  
  
  margin:0;
}
 .projetos section p{
   width:250px;
   margin:0;
   padding:0;
   text-align: center;
 }
  footer{
    width: 280px;
    margin-top: 0;
    
    margin: 0 auto;
  }
}

.modal:hover{
  transform: scale(1.1);
  
}
